@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #c20000;
}
header {
  min-height: 200px;
  background-color: #fff;
  width: 100%;
  padding: 50px;
  text-align: center;
}
header h1 {
  font-size: 3rem;
}
.search {
  width: 100%;
  padding-top: 100px;
}
.search form {
  margin: auto;
  width: 50%;
}
.card {
  height: 450px;
}
.card-img-top {
  min-height: 200px;
}
.card-body {
  text-align: center;
}

.card-title,
.card-text {
  font-size: 0.8rem;
}
.row {
  margin: 0;
}
